<style type="text/css">
body, a, span {
	font-family: Tahoma; font-size: 10pt; font-weight: bold;
}
</style>

<h2>Save the image and show to user</h2>
<table>
    <tr>
       
        <td align="right">
            <a href="config?conf=1">Go Back</a>
        </td>
       
    </tr>
    <tr>
        <td colspan="2">
            <br />
            <br />
            <span>
                Here is Client-sided image:
            </span>
            <img src="{{ images }}" />
            <br />
        </td>
    </tr>
</table>