{# empty Twig template #}
{% extends "SifastPfeBundle::layout.html.twig" %}



{% block content %}
    <div class="content-right float-right"> 
        <img class="acc_img" src="{{ asset('bundles/sifastpfe/assets/img/backgrounds/configurateur.jpg') }}">
    </div>  
{% endblock %}